@import url("./normalize.css");
body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  background-color: #dddbd1;
}

body::after {
  position: fixed;
  top: 0;
  width: 100%;
  height: 127px;
  content: '';
  background-color: #009688;
}

.main_wrapper {
  width: 1396px;
  height: 96%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px 6px #acacac;
          box-shadow: 0px 0px 6px #acacac;
}

.login_screen {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_form {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login_btn_wrapper {
  width: 200px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_btn_wrapper .login_btn {
  width: 90px;
}

.left_panel {
  height: 100%;
  width: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_panel .main_header {
  width: 100%;
  height: 60px;
  background-color: #ededed;
}

.left_panel .chat_search {
  width: 100%;
  height: 50px;
  background-color: #faf5f5;
}

.left_panel .chat_list_wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
}

.left_panel .chat_list_wrapper .chat_element {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left_panel .chat_list_wrapper .chat_element .user_photo_wrapper {
  height: 49px;
  width: 49px;
  padding: 0 15px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper {
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper .chat_list_user_name {
  font-size: 17px;
  font-weight: 500;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper .chat_list_last_date {
  padding-right: 15px;
  font-size: 12px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .last_msg_wrapper .last_msg {
  font-size: 14px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper:not(:first-child) {
  border-top: 1px solid #f1f1f1;
}

.left_panel .chat_list_wrapper .chat_element:hover {
  background-color: #ededed;
}

.left_panel .chat_list_wrapper .chat_element_active {
  background-color: #dadada;
}

.left_panel .chat_list_wrapper .chat_element_active:hover {
  background-color: #dadada;
}

.left_panel .chat_list_wrapper::-webkit-scrollbar {
  width: 6px;
}

.left_panel .chat_list_wrapper::-webkit-scrollbar-thumb {
  background: #b4b3b3;
}

.right_panel {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: gray;
}

@media (max-width: 1440px) {
  .main_wrapper {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */