@import url('./normalize.css');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  background-color: #dddbd1;
}

body::after {
  position: fixed;
  top: 0;
  width: 100%;
  height: 127px;
  content: '';
  background-color: #009688;
}

.main_wrapper {
  width: 1396px;
  height: 96%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  box-shadow: 0px 0px 6px rgb(172, 172, 172);
}

.login_screen {
  flex-direction: column;
}

.login_form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login_btn_wrapper {
  width: 200px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  
  .login_btn {
    width: 90px;
  }
}

.left_panel {
  height: 100%;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;



  .main_user_photo_wrapper {
    width: 40px;
    height: 40px;
    padding: 10px 16px;

    .user_photo {
      width: 40px;
      height: 40px;
    }
  }

  .main_menu_wrapper {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;

    .menu_btn {
      width: 24px;
      height: 24px;
      padding: 6px;
    }
  }


  .chat_search {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #faf5f5;
  }

  .chat_list_wrapper {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;

    .chat_element {
      height: 72px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      user-select: none;
      cursor: pointer;

      .user_photo_wrapper {
        height: 49px;
        width: 49px;
        padding: 0 15px;
      }

      .msg_info_wrapper {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .info_wrapper {
          padding-bottom: 3px;
          display: flex;
          justify-content: space-between;

          .chat_list_user_name {
            font-size: 17px;
            font-weight: 500;
          }

          .chat_list_last_date {
            padding-right: 15px;
            font-size: 12px;
          }
        }

        .last_msg_wrapper {
          width: 320px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .last_msg {
            font-size: 14px;
          }
        }
      }
    }

    .chat_element .msg_info_wrapper:nth-child(n+2) {
      border-top: 1px solid #f1f1f1;
    }

    .chat_element:hover {
      background-color: #ededed;
    }

    .chat_element_active {
      background-color: #dadada;
    }

    .chat_element_active:hover {
      background-color: #dadada;
    }
  }

  .chat_list_wrapper::-webkit-scrollbar {
    width: 6px;
  }

  .chat_list_wrapper::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196)
  }
}

.main_header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
}

.right_panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(250, 250, 250);

  .chat_wrapper {
    position: relative;
    flex-grow: 1;
    background-color: rgb(229, 221, 213);

    .chat_bg {
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-chat-tile-light.png');
    opacity: 0.06;
    }

    .msgs_area_wrapper {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .msgs_wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;
  
        .msg_wrapper {
          display: flex;
          padding: 0 9%;
  
          .msg {
            min-width: 95px;
            max-width: 90%;
            padding: 6px 7px 8px 9px;
            position: relative;
            display: flex;
            flex: none;
            flex-direction: row;
            border-radius: 7.5px;
            box-shadow: 0 1px .5px rgba(0, 0, 0, 0.13);
  
            .msg_tail {
              position: absolute;
            }
  
            .left_tail {
              left: -8px;
              top: 0;
            }
  
            .right_tail {
              right: -8px;
              top: 0;
            }
  
            .msg_info_wrapper {
              width: 100%;
              display: block;
              flex-direction: row;
  
              .msg_content {
                overflow-wrap: break-word;
                white-space: pre-wrap;
  
                .msg_text {
                  line-height: 19px;
                  font-size: 14.2px;
                }
  
                .msg_text::after {
                  content: '';
                  display: inline-block;
                  width: 57px;
                }
              }
  
              .msg_time_wrapper {
                margin: -10px 0 -5px 4px;
                display: block;
                position: relative;
                float: right;
  
                .msg_time {
                  font-size: 11px;
                  color: rgba(0, 0, 0, 0.45);
                }
              }
  
              .msg_time_wrapper::before {
                content: '';
                display: table;
                clear: both;
              }
            }
          }
  
          .incoming_bg {
            background-color: white;
            border-top-left-radius: 0;
          }
    
          .outgoing_bg {
            background-color: rgb(220, 248, 198);
            border-top-right-radius: 0;
          }

          .new_msg {
            margin-top: 12px;
          }

          .continue_msg {
            margin-top: 2px;
            border-radius: 7.5px;
          }
        }
  
        .incoming {
          justify-content: flex-start;
        }
  
        .outgoing {
          justify-content: flex-end;
        }

        .time_msg {
          margin: 8px 0;
          justify-content: center;

          .time_msg_text {
            display: block;
            padding: 8px;
            border-radius: 7.5px;
            background-color: rgba(225, 245, 254, 0.92);
            box-shadow: 0 1px .5px rgba(0, 0, 0, 0.13);
          }
        }
      }
    }

    .msgs_wrapper::-webkit-scrollbar {
      width: 6px;
    }
  
    .msgs_wrapper::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0.5);
    }
  }

  .chat_footer {
    height: 62px;
    width: 100%;
    background-color: #ededed;
  }
}

@media (max-width: 1440px) {
  .main_wrapper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
    padding: 0 7%;
  }
}

@media (max-width: 968px) {
  .right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
    padding: 0 6.5%;
  }
}

@media (max-width: 912px) {
  .right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
    padding: 0 6%;
  }
}

@media (max-width: 856px) {
  .right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
    padding: 0 5.5%;
  }
}

@media (max-width: 800px) {
  .right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
    padding: 0 5%;
  }
}
