@import url("./normalize.css");
body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  background-color: #dddbd1;
}

body::after {
  position: fixed;
  top: 0;
  width: 100%;
  height: 127px;
  content: '';
  background-color: #009688;
}

.main_wrapper {
  width: 1396px;
  height: 96%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px 6px #acacac;
          box-shadow: 0px 0px 6px #acacac;
}

.login_screen {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_form {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login_btn_wrapper {
  width: 200px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login_btn_wrapper .login_btn {
  width: 90px;
}

.left_panel {
  height: 100%;
  width: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_panel .chat_search {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #faf5f5;
}

.left_panel .chat_list_wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
}

.left_panel .chat_list_wrapper .chat_element {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.left_panel .chat_list_wrapper .chat_element .user_photo_wrapper {
  height: 49px;
  width: 49px;
  padding: 0 15px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper {
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper .chat_list_user_name {
  font-size: 17px;
  font-weight: 500;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .info_wrapper .chat_list_last_date {
  padding-right: 15px;
  font-size: 12px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .last_msg_wrapper {
  width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper .last_msg_wrapper .last_msg {
  font-size: 14px;
}

.left_panel .chat_list_wrapper .chat_element .msg_info_wrapper:nth-child(n+2) {
  border-top: 1px solid #f1f1f1;
}

.left_panel .chat_list_wrapper .chat_element:hover {
  background-color: #ededed;
}

.left_panel .chat_list_wrapper .chat_element_active {
  background-color: #dadada;
}

.left_panel .chat_list_wrapper .chat_element_active:hover {
  background-color: #dadada;
}

.left_panel .chat_list_wrapper::-webkit-scrollbar {
  width: 6px;
}

.left_panel .chat_list_wrapper::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

.main_header {
  width: 100%;
  height: 60px;
  background-color: #ededed;
}

.right_panel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fafafa;
}

.right_panel .chat_wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e5ddd5;
}

.right_panel .chat_wrapper .chat_bg {
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg-chat-tile-light.png");
  opacity: 0.06;
}

.right_panel .chat_wrapper .msgs_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg {
  min-width: 95px;
  max-width: 512px;
  margin-bottom: 12px;
  padding: 6px 7px 8px 9px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 7.5px;
  -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_tail {
  position: absolute;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .left_tail {
  left: -8px;
  top: 0;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .right_tail {
  right: -8px;
  top: 0;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_info_wrapper .msg_content {
  padding-right: 25px;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_info_wrapper .msg_content .msg_text {
  font-size: 14.2px;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_info_wrapper .msg_time_wrapper {
  margin: 7px 0 -5px 4px;
  position: relative;
  float: right;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .msg .msg_info_wrapper .msg_time_wrapper .msg_time {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.45);
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .incoming_bg {
  background-color: white;
  border-top-left-radius: 0;
}

.right_panel .chat_wrapper .msgs_wrapper .msg_wrapper .outgoing_bg {
  background-color: #dcf8c6;
  border-top-right-radius: 0;
}

.right_panel .chat_wrapper .msgs_wrapper .incoming {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.right_panel .chat_wrapper .msgs_wrapper .outgoing {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right_panel .chat_footer {
  height: 62px;
  width: 100%;
  background-color: #ededed;
}

@media (max-width: 1440px) {
  .main_wrapper {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */